
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  padding: 0;
  margin: 0;

}

html {
  background-image: url('images/AeonX_very_dark_background_with_few_lights_in_the_background_a__ae5a6199-1c6b-46e2-ad3e-0d59e126b9c4.png');
  background-position: center;
  background-repeat: no-repeat;
  /* font-family: 'Inknut Antiqua', serif; */
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#nimbus {
  width: 250px;
  position: absolute;
  animation: anime 8s infinite;
}

@keyframes anime {
  0% {
    margin-top: 80vh;
    margin-left: 0vw;
  }
  100% {
    margin-top: 0vh;
    margin-left: 85vw;
  }
}

.header {
  /* display */
  display: flex;
  align-items: center;

  /* background */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: 1s;

  /* size */
  height: 10vh;
  width: auto;

  /* border */
  box-shadow:rgb(255, 255, 255, 0.2) 0px 4px 3px -1px, 0 0 40px rgb(8 7 16 / 80%);
}

.trybewarts-header-logo {
  height: 100%;
  flex-grow: 1;
}

header h1 {
  color: rgba(245, 245, 245, 0.900);
  text-shadow: 1px 1px 4px #000000ba;
  text-align: center;
  flex-grow: 30;
  transition: 1s;
  padding-left: 23vw;
}

header form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 510px;
  flex-grow: 2;
}

header input {
  height: 35px;
  width: 150px;
  text-align: start;
  padding: 0px 0px 0px 10px;

  /* border */
  border-radius: 64px;
  box-shadow: rgb(93 93 93) 0px 0px 2px 4px;
  border: none;
}

header button {
  height: 35px;
  width: 150px;
  border-radius: 5px;
  box-shadow: rgb(18, 18, 18) 0px 0px 3px 1px, rgb(51 51 51) 1px 1px 4px 1px;
  border: none;
}

main {
  display: flex;
  justify-content: center;
  height: fit-content;
}

#evaluation-form {
  /* background */
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: saturate(200%) blur(10px);
  color: rgba(0, 0, 0, 0.800);
  font-weight: 500;
  box-shadow: 0px 0px 3px 1px rgb(255 255 255 / 30%), 0 0 40px rgb(8 7 16 / 80%);

  /* displays */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  
  /* size */
  width: 700px;
  margin: 2%;
  padding: 1%;
  border-radius: 10px;
  height: 700px;
}

#evaluation-form:hover {
  background-color: rgba(255, 255, 255, 40%);
  backdrop-filter: saturate(200%) blur(30px);
  transition: 0.5s;

}

#evaluation-form h2 {
  margin-bottom: 4%;
  color: rgba(10, 10, 10, 0.8);
  text-shadow: 0px 0px 4px #f5f5f5c2;
}

#identifier-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 8vh;
  border-bottom: 1px solid grey;
  padding-bottom: 3%;
  
}

.identifier-class {
  display: flex;
  text-align: center;
  width: 40%;
  margin: 1%;
  border-radius: 5px;
  height: auto;
  box-shadow: rgb(93 93 93 / 56%) 0px 0px 2px 4px;
  border: none;
}

#house {
  color: grey;
}

#all-container {
  padding: 3% 0% 3% 0%;
  display: flex;
  border-bottom: 1px solid gray;
}

#family-container {
text-align: start;
flex-basis: 50%;
height: 100%;
}

.label-family {
  margin-right: 5%;
  cursor: crosshair;
  width: 25px;
  height: 25px;
}

#family-container label {
  display: flex;
  cursor: crosshair;
  flex-basis: 100%;
  justify-content: flex-start;
  align-items: center;
}

#subject-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: space-between;
  justify-content: space-evenly;
  flex-basis: 70%;
}

.checkmark-container {
  display: flex;
  width: 35%;
  align-items: flex-end;
}


.checkmark-container input {
  margin-right: 15px;
  height: 30px;
  width: 30px;
  display: flex;
}

#rate-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 3% 0%;
  border-bottom: 1px solid grey;
}

#rate-container p {
  flex-basis: 100%;
  text-align: center;
  padding-bottom: 2%;
}

#rate-container input {
  width: 25px;
  height: 25px;
  margin-right: 10%;
  cursor: crosshair;
}

#rate-container label {
  display: flex;
  justify-items: flex-end;
  flex-grow: 1;
  cursor: crosshair;
}

#text-area-container {
  /* display */
  display: flex;
  justify-content: center;

  flex-flow: row wrap;

  /* border */
  width: 100%;
  padding: 2% 0%;
  }

#text-area-container label {
  flex-basis: 100%;
  text-align: center;
}

#text-area-container textarea {
  border-radius: 5px;
  font-family: 'Overpass', sans-serif;

  /* size */
  min-width: 485px;
  min-height: 100px;
  resize: none;
  padding: 10px 35px 10px 10px;
  font-size: medium;
}

#area-span-container {
  position: relative;
}

#span-container {
  position: absolute;
  bottom: 8px;
  left: 450px;
}

#textarea-span {
  padding: 0px 0px 0px 35px;
}

#agreement-container {
  padding: 0% 0%;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  width: 100%;
}

#agreement-container input {
  width: 20px;
  height: 20px;
}

#button-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 3% 0%;
}

#submit-btn, #reset-btn {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  box-shadow: rgb(18, 18, 18) 0px 0px 3px 1px, rgb(51 51 51) 1px 1px 4px 1px;
  border: none;
}

button:active {
  background-color: rgba(128, 128, 128, 0.5);
  color: whitesmoke;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: whitesmoke;
  transition: 1s;

  /* displays */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  /* size */
  height: 60px;
  bottom: 0;
  width: 100%;
  position: sticky;
  box-shadow:rgb(255 255 255 / 30%) 0px 4px 3px 6px, 0 0 40px rgb(8 7 16 / 80%);
}
